@charset "utf-8";
/* CSS Document */

/*font-family: 'Metamorphous', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Rosarivo', serif;
font-family: 'Almendra', serif;*/

body {
	background-image: url(../images/a-z_splash.png);
	background-size: cover;
	background-attachment: fixed;
	}
h1 {
/*	font-family: "notcaslon-one", sans-serif;*/
	font-style: normal;
	font-weight: 45px;
	color: #8176b7;
}
h2 {
/*	font-family: "notcaslon-one", sans-serif;*/
	font-style: normal;
	font-weight: 18px;
	color: #8176b7;
}
