@charset "utf-8";

body {
	background-image: url(../images/a-z-background.png);
	background-size: cover;
	font-family: "Alegreya", serif;
	font-size: 16px;
	background-attachment: fixed;
/*	display: flex;*/
/*	width: 100%;
	max-height: 90%;*/
/*	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: auto;*/
}

#menus {
	display: inline-block;
}

.player {
	/*display: flex;
	flex-direction: column;
	align-items: left;
	flex-basis: auto;
	justify-content: left;
  	margin: auto;*/
}

button {
	color: saddlebrown;
	background-color: lemonchiffon;
}

button:hover {
	background-color: khaki;
}

nav {
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
	color: saddlebrown;
}

#container {
  text-align: center;
}


a {
	text-decoration: none;
	color: saddlebrown;
}

a:hover {
	color: chocolate;
}

#headlines {
	padding-right: 20px;
	display: inline-block;
}

#bldg-img {
	height: 100%;
	display: block;
	z-index: 3;
}

#bldg-img-wrapper {
	height: 688px;
	position: relative;
	display: inline-block;
	}

#bldg-overlay-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index:2;
}

#bldg-overlay {
	height: 100%;
}

.modal {
    display: none;  
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 250px; 
    margin-left: 450px;  
}

.modal-content {
    background-color: #000235;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 250px;  
     padding-top: 20px;
    text-align: center;
}

#imgcontainer {
    background-color: #000235;
    color: #ffcc00;
    text-align: center;
    width: 250px;  
 }

#mandala {
    height: 100px;
    text-align: center;
}

#form-box {
    background-color: #000235;
    color: #ffcc00;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;  
    height: 100%;
}

#btn {
    /*border-radius: 2px;*/
    border-color: #ffcc00;
    background-color: #000235;
    color: #ffcc00;
    padding-bottom: 20px;
    cursor: pointer;
    width: 100%;
}

#btn:hover {
    opacity: 0.8;
}

/* Add Zoom Animation */
 .animate1 {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
} 

