@charset "utf-8";
/* CSS Document */



body {
	background-image: url(../images/ahz-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-basis: auto;
	align-content: center;
	font-family: "Metamorphous Regular", serif;
	font-family: "Aclonica", serif;
	font-size: 22px;
	color: #ffcc00;
	}

nav {
	flex-grow: 1;
	width: 100%;
	color: #ffcc00;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #ffcc00;
}

a.hover {
	color: #ff9933;
}

img {
	height: 95vh;
}

h1	{
	line-height: 50%;
}

h2 {
	line-height: 50%;
}

h3 {
	line-height: 50%;
}

#container {
	display: flex;
    flex-direction: row;
    flex-basis: auto;
    margin-left: 20px; 
    margin-right: 20px;  
}

#welcome-bldg-img {
	min-width: 300px;
	padding-right: 50px;
}

.story-img {
	width: 150px;
	padding-left: 50px;
	padding-top: 10px;
	align-self: flex-start;
	position: local;
	text-align: left;
}

#cap {
	font-size: 3em;
	line-height: 0;
}

.text {
	font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

#story-text {
	font-family: "Times New Roman", serif;
	font-size: 20px;	
	padding-right: 150px;
	padding-bottom: 150px;
	padding-left: 275px;
	color: white;
}

.link {
	color: #ff9933;
}