body { 
    background-image: url(../images/ahz-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Metamorphous Regular", serif;
    font-family: "Aclonica", serif;
    color: #ffcc00;
    }

#header-titles {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    flex-basis: auto;
    align-content: center;
}
 

/*button { 
    color: #ffcc00; 
    background-color: #000235; 
} 

 
button:hover { 
    background-color: blue; 
} */
 
 
nav { 
    flex-grow: 1; 
    flex-direction: column; 
    width: 100%; 
}

a {text-decoration: none; 
    color: #ffcc00; 
} 
 
/*a.hover { 
    color: orangered !important; 
} */

h1 {
    color: cornflowerblue;
}

h2 {
    color: cornflowerblue;
}

h3  {
    color: cornflowerblue;
}

img {
    border: 3px solid #ffcc00;
    border-radius: 6px;
}

#story-container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    margin-left: 20px; 
    margin-right: 20px;
}

#story-img {
    width: 250px;
    padding-top: 50px;
}

.cap {
    font-size: 3em;
    line-height: 0;
}

#story-text {
    color: lemonchiffon;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;

}

