/* CSS Document */

body {
	background-image: url(../images/ahz-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Metamorphous Regular", serif;
    font-family: "Aclonica", serif;
    color: #ffcc00;
	}

#header-titles {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    flex-basis: auto;
    align-content: center;
}
 
#menu { 
    display: inline-block;
 } 

nav {
	flex-grow: 1;
	flex-direction: column; 
	width: 100%;
}

a {
	text-decoration: none;
	color: #ffcc00;
}

a.hover {
	color: #ff9933;
}

#cap {
	font-size: 3em;
	line-height: 0;
}

.link {
	color: #ff9933;
}

img {
	border: 3px solid #ffcc00;
    border-radius: 6px;
}

#container {
	display: flex;
    flex-direction: row;
    flex-basis: wrap;
    justify-content: center;
    margin-left: 300px; 
    margin-right: 300px;
    margin-top: 50px;
}

#maintext {
	color: lemonchiffon;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

#welcome-bldg-img {
	max-width: 20%;
}