/* CSS Document */

body {
	background-image: url(../images/ahz-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-basis: auto;
	align-content: center;
	font-family: "Metamorphous Regular", serif;
	font-family: "Aclonica", serif;
	font-size: 22px;
	color: #ffcc00;
	}

nav {
	flex-grow: 1;
	width: 100%;
	color: #ffcc00;
	font-size: 16px
}

a {
	text-decoration: none;
	color: #ffcc00;
}

a:hover {
	color: #ff9933;
}

img {
	height: 95vh;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-basis: auto;
	justify-content: center;
  	margin: auto;  
}

#bldg-img {
}

.text {
	padding-top: 150px;
	padding-right: 50px;
	padding-bottom: 150px;
	padding-left: 150px;
	font-size: 20px;
}

.link {
	color: orangered;
}

#cap {
	font-size: 30em;
}