/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

#wrapper {
	width: 1080px;
}

#header-1

#header-2

#navbar

img {

}

h2

#textbox {

}

#articles {

}

#block-1 {

}

#block-2 {
	
}

#block-3 {
	
}

