/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 1080px;
	border-left: black 1px;
	}

#wrapper {
	width: 1080px;
	border-left: solid black 1px;
	}

#header-1 {
	height: auto;
	padding: 40px 0px 40px 0px;
	width: 1080px;
	margin: 0 auto;
	background-color: black;
	border-bottom: solid yellow 3px;
	}

#logo {
	display: inline-block;
	width: 500px;
	margin-left: 20px;
	vertical-align: middle;
	color: yellow;
	font-family: "Merriweather", serif; 
	font-size: 24px;
	font-align: center;
	float: left;
	}

#navbar {
	width: 500px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	float: right;
	}

a.navbar {
	width: 1080px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-align: center;
	padding-left: 15px;
	color: white;
	text-decoration: none;
}

#header-2 {
	clear: both;
	width: 1080px;
	-webkit-box-shadow: 3px 18px 38px -13px rgba(0,0,0,0.63);
	padding: 20px 0px 20px 0px;
	font-family: "Merriweather";
	text-align: center;
	line-height: 24px;
	font-size: 20px;
	background: #C6C6C6;
	}

#tagline {
	align-content: center;
	font-style: italic;
	font-size: 24px;
	}

#strikeout {
	text-decoration: line-through;
}

#underline {
	border-bottom: yellow solid 3px;
	}

#box-background {
	width: 1080px;
	height: auto;
	padding: 40px 0px 40px 0px;
	background: url("../img/coworking.jpg");
	background-attachment: scroll;
	background-size: 100% auto;
	background-color: gray;
	display: inline-block;
	-webkit-box-shadow: inset 0px -10px 30px -14px rgba(0,0,0,0.63);
}

#textbox {
	float: right;
	width: 280px;
	padding: 5px 20px 20px 20px;
	Margin: 20px 20px 40px 20px;
	display: inline-block;
	background-color: rgba(255,255,255,0.55);
	-webkit-box-shadow:  7px 7px 34px -8px rgba(0,0,0,0.75);
}
	
h2.textbox {
	font-family: "Oswald";
}

p.textbox {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	padding-bottom: 20px;
}

a.button {
	align-text: middle;
	text-decoration: none;
	font-size: 18px;
	background: yellow;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	padding: 10px 40px 10px 40px;
	Margin: 20px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
}

#articles {
	clear: both;
	display: inline-block;
	}

h2 {
	font-family: "Merriweather";
	font-size: 25px;
}

a.buttons {
	text-decoration: none;
	color: black;
	border-radius: 5px;
	font-size: 17px;
	font-weight: bold;
	background: #C6C6C6;
	padding: 10px 40px 10px 40px;
	Margin: 20px;
	vertical-align: bottom;
	-webkit-box-shadow: 0 10px 6px -6px #777;
}

.vertical-line {
	border-right: 2px solid #C6C6C6;
	margin: 20px 20px 20px 20px;
}

p.article {
	padding: 10px 20px 20px 0px;
	font-size: 20px;
}

#block-1 {
	display: inline-block;
	float: left;
	width: 300px;
	padding: 0px 20px 0px 20px;
	}

#block-2 {
	display: inline-block;
	float: left;
	width: 300px;
	padding: 0px 20px 0px 0px;
	}

#block-3 {
	display: inline-block;
	float: right;
	width: 300px;
	padding: 20px 0px 0px 20px;
		}

#footer {
	clear: both;
	width: 1040px;
	background: black;
	color: white;
	padding: 10px 0px 10px 40px;
}
