body {
	
	font-family: Georgia, serif;
	color: midnightblue;
	background: url("Images/background-copy.jpg");
    background-size: cover;
    background-position: center;
    font-size: 25px;
}

img {
	max-width: 35%;
	height: auto;
}

h1 {
	font-family: "Trebuchet MS"; sans-serif; 
	font-size: 60px;
	font-style: bold;
	color: #A23D28;
	text-align: center;
}

h2 {
	font-family: "Trebuchet MS";
	font-size: 30px;
	color: midnightblue;
	text-align: center;
	font-style: bold;

}

h3 {
	font-family: "Trebuchet MS";
}

h4 {
	font-family: "Trebuchet MS";
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
    }
    input[type="submit"] {
    background: red;
    color: white;
    }
    
a:link {
    text-decoration: none;
}