@charset "utf-8";
/* CSS Document */

/*font-family: rosewood-std, sans-serif;
font-style: normal;
font-weight: 400;

font-family: rosewood-std-fill, serif;
font-style: normal;
font-weight: 400;*/

body {
	background-image: url(../images/a-z-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	}

h1 {
	font-family: rosewood-std-fill, serif;
	font-style: normal;
	font-weight: 300;
	color: #8176b7;
}

h2 {
	font-family: rosewood-std-fill, serif;
	font-style: normal;
	font-weight: 300;
	color: #8176b7;
}

.container {
	display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    /*align-content: center;
	    align-items: center;*/
}

#bldg-img {
	width: 300px;
}

#headlines {
	flex-direction: inline-row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 400px;
}

.cap {
	font-family: rosewood-std, serif;
	font-weight: 400;
}