@charset "utf-8";

body {
	background-image: url(../images/a-z-background.jpg);
	background-size: cover;
	font-family: "Alegreya", serif;
	font-size: 16px;
	background-attachment: fixed;
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: auto;
	}

nav {
	flex-grow: 1;
	width: 100%;
	color: saddlebrown;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-basis: auto;
	justify-content: center;
  	margin: auto;  
}

a {
	text-decoration: none;
	color: saddlebrown;
}

a:hover {
	color: chocolate;
}

img {
	height: 95vh;
}

#headlines {
	padding-right: 20px;
}

#bldg-img {
	min-width: 250px;
	max-width: 300px
	padding-left: 20px;
}

#bldg-img-wrapper {
	position: relative;
	overflow: hidden;
}


#bldg-overlay {
	position: absolute;
	top: 0;
/*	left: 0;
*/	bottom: 0;
	right: 0;
	opacity: 0; 
}