@charset "utf-8";


body {
	background-image: url(../images/a-z-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: "Alegreya", serif;
	font-size: 16px;
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: auto;
	}

nav {
	flex-grow: 1;
	width: 100%;
	color: saddlebrown;
}

#container-hs {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-basis: auto;
	justify-content: space-around;
  	margin: auto;  
}

a {
	text-decoration: none;
	color: saddlebrown;
}

a:hover {
	color: chocolate;
}

img {
	height: 95vh;
}

#bldg-img-hs {
	min-width: 250px;
	}



